body {
    font-family: 'Source Serif 4', sans-serif;
    background: #A6E7FF;
    letter-spacing: 0.1px;
    font-weight: 500;
    color: #000;
}
.cabecalho {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #FF8A65;
  padding: 0.5rem;
}
h1{
  margin-left: 20px;
}
.imagem-cifra {
  width: 120px;
}

nav {
  display: flex;
  list-style: none;
}

.sites{
  display: flex;

}
nav li {
  margin-right: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
}
nav a {
  display: block;
  text-transform: uppercase;
  color: #070909;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}
nav a:hover {
    color: #fefefe;
    text-decoration: underline;
}
.main {
  margin-top: 5px;

}
.container-principal{
  max-width: 780px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  grid-gap: 20px;
  padding: 3rem;

}
.titulo-principal, .texto {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;

}
textarea {
  border: 2px solid #FF8A65;
}

textarea:focus{
  outline-color: #C7B991;
  background: #C7B991;

}
.botao{
  padding: 1.3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}

.deslocamento {
  border: none;
  padding: 0.4rem;
  border-radius: 1rem;
  background: #C7B991;
  margin-bottom: 8px;
 }

 .deslocamento:focus {
  outline-color: #C7B991;
  background: #C7B991;
 }

.offset {
 display: grid;
 align-content: center;
 justify-content: center;

}

.container-principal > .botao-limpar {
  display: grid;
  grid-column: 2;
  justify-content: center;
}

.limpar{
  padding: 1.3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.rodape {
  background-color: #FF8A65;
  padding: 0.5rem;
  bottom: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
}

.copyright {
  margin-top: 15px;
  text-align: center;
  color: #fefefe;
  font-size: 13px;
}


