body {
  font-family: 'Source Serif 4', sans-serif;
}
.cabecalho {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
background-color: #FF8A65;
padding: 0.5rem;
}
h1{
margin-left: 20px;
}
.imagem-cifra {
width: 120px;
}

nav {
display: flex;
list-style: none;
}

.sites{
display: flex;

}
nav li {
margin-right: 1.25rem;
text-decoration: none;
text-transform: uppercase;
}
nav a {
display: block;
text-transform: uppercase;
color: #070909;
font-weight: bold;
font-size: 18px;
text-decoration: none;
}
nav a:hover {
  color: #fefefe;
  text-decoration: underline;
}
.tituloCentralizado {
  text-align: center;
  font-size: 2em;
  /*vai ter o dobro do tamanho base*/
  margin: 0 0 1em;
  /*vai ser proporcional ao tamanho da fonte*/
  clear: left;
  /*vai limpar o meu floot*/
}
.textoPrincipal {
  padding: 3em 0;
  width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
.textoPrincipal p {
  margin: 0 0 1em;
  /* margim vai ser proporcional ao tamanho da fonte*/
}
.textoPrincipal strong {
  font-weight: bold
}
.textoPrincipal em {
  font-style: italic;
}
.imagemjuliocesar {
  width: 120px;
  float: left;
  /*vai descolar da pagina, mas a sombra dele vai ficar ocupada*/
  margin: 0 20px 20px 0;
}
.video {
  width: 560px;
  margin: 2em auto;
}
.copyright {
  text-align: center;
  color: #fefefe;
  font-size: 13px;
}

@media screen and (max-width: 480px) {
  .caixa, .textoprincipal, .form {
      width: auto;
  }
  .main {
      display: inline;
  }
  body {
      text-align: center;
  }
  nav {
      position: static;
  }
  .sites {
      text-align: center;
  }

}
