*{
	box-sizing: border-box;
 }

header {
    background: #e1f2f8;
    padding: 20px 0;
}

.imagem-cifra {
    max-width:300px;
    max-height:220px;
    width: auto;
    height: auto;
}

.caixa {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 100px;
    right: 0;   
}

.tituloSecundario {
    display: inline;
    margin: 0 0 0 15px;
    letter-spacing: 0.5px;    
}
    
nav p {
    text-transform: uppercase;
    color: #020552e1;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

main {
    
    width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

form {
    
    margin: 40px 0;

}

form label {
    display:block;
    font-size:20px;
    margin: 0 0 10px;
}

form input {
    display:block;
    margin: 0 0 20px;
    padding: 10 25px;
    
}
form button {
    display:block;
    margin: 0 0 20px;
}
form textarea {
    display:block;
    font-size:20px;
    margin: 0 0 10px;
    width: 50%;

}   


